 html, body { 
  margin: 0;
  padding: 0; 
  background-image: linear-gradient(to bottom, rgb(255,255,255, 0.52), rgba(233, 233, 233, 0.712)),
  url(https://wallpapermemory.com/uploads/480/penguin-background-full-hd-1080p-149318.jpg);
   background-color: #353839;
   height: auto;
   z-index: 1;
   /* padding-top: 100px; */
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
} /*RESETS CSS*/

nav {
/* Add something here */
}



/* Navbar Mobile Responsiveness WIP */
.navbar-brand {
font-family: 'Pacifico', sans-serif;
margin-left: 40%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 .navbar-brand {
  margin-left: 5%;
 }
}

/* CAROUSEL */
.d-block {
  margin: auto;
  max-width: 900px;
  height: 500px;
  text-align: center;
}

main {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  padding: 20px 20px 20px 20px;
}

#projects {
/* display: table; */
width: 100%;
 table-layout: fixed; 
 border-spacing: 10px; 
 background-color: #cddee6;
 text-align: center;
 height: 10px;
}

.project-tile {
  display: block;
  background: white;
  /* border: dotted #ADD8E6 10px; */
  width: 30vw;
  height: 330px;
  border-radius: 10px;
}

.tb {
  display: table;
}

.tr {
  display: table-row;
}

.td {
  display:table-cell;
}

.bg { /* Adjusts positioning of text inside project-tiles*/
  position: relative;
  bottom: 230px;
  z-index:1
}
 

section img{ 
  position: relative;
  width: 30vw;
  height: 330px;
  border-radius: 10px;
  z-index:2;
  transition: all 0.3s ease-in-out; /* Add the transition properties to the element itself rather than the :hover pseudo-class version. In doing so, the transition will take place when hovering on and off. */
}
 
.project-tile:hover img{ /*Trying to make img fade, revealing button underneath */
  opacity: 0;
  cursor: default;
  visibility: hidden; /* Allows button to be clicked after disappearing w/ transition */
}

button {
  background-color: #fff;
  border-color: #745f49!important;
  border: 2px solid #745f49;
  font-size: 14px;
  padding: 12px 16px;
  margin-left: 3px;
  margin-bottom: 5px;
  border-bottom-color: rgb(255,255,255);
  border-bottom-left-radius: 0px;
  font-family: Montserrat, sans-serif;
  transition: 0.3s;
}

button:hover{
  cursor: pointer;
  background: #745f49;
  color: white;
}